body{
    background-color: rgb(82, 79, 79);
}
.tab-1{
    margin-top: 100px;
    width:100px;
    border:1px rgb(173, 170, 170) solid;
    padding: 0px;
    border-spacing:0px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin-left:30px; 
    width: 50%;
    border-radius: 10px;
}
td[id^="slot"]
{
    padding: 15px;
    border:1px solid white;
    border-radius: 10px;   
}
.sec{
    border: 1px solid white;
    text-align: center;
    margin-top:100px ;
    float: right;
    width:45%;
    margin-right:31px ;
    height:523px;
    border-radius: 10px;
}
#s-main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    color: white;
}
#s-sec{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:200px;
    color: white;
    position: relative;
}
.round{
    margin-top: 10%;
}
#b2,#b1{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    margin-left:10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:3px solid black;
    background-color:rgb(82, 79, 79) ;
}
#b1:hover,#b2:hover{
    border: 5px solid black;
}
#b2:active,#b1:active{
    transform: scale(0.9);
}
.main-check{
    margin-top: 50px;
    border: 1px solid white;
    display: inline-block;
    height:320px ;
    width:95%;
    margin-left: 2%;
}
.checker{
    width:100%;
    height:100%;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
td[id^="chk-slot"]
{
    padding: 5px;
    border:1px solid white;
    border-radius: 10px; 
    height: 47px;
    width:50px;
}
.buttons{
    position: relative;
}
#marq{
    position: relative;
    font-size: 40px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    top:50px;
    visibility: hidden;
}